
#categoriasNav
{
     background-color: rgba(253, 253, 252, 0.59); 
     color:rgb(0, 0, 0);
}
div h1
{
    width: 300px; 
    margin-left: 30px;
}
   
.row
{
 
    color:#FFFFFF; 
    padding: 13px 13px 13px 54px;
	margin-bottom:10px;
	width:100%;
	box-sizing: border-box;
}
h1
{
    color:#FFFFFF; 
}
div label
{
    color:#FFFFFF; 
}
body
{
    font-family:"ROCKWELL";
    font-size: 16pt;
    font-weight: 5PX;
    color:rgb(15, 12, 12);
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgba(215, 214, 228, 0.17); 
   
}
.table
{
    color:#FFFFFF; 
}
.table table-hover:hover{
    color:#FFFFFF; 
}
.navigation
{
     color:#FDFDFD; 
  
}
.pagination
{
     color:#FFFFFF; 
  
}
.navbar-default
{
    color:#FFFFFF; 
    color:#FAFAFA;
}
button
{
    color:#FAFAFA;
}
.table button
{
    color:#FAFAFA;
}
.nav.navbar.navbar-expand-md.bg-dark.navbar-dark
{
    color:#FFFFFF; 
}
.navbar-brand
{
    color:#FFFFFF; 
}

a button
{
    float: right ;
}



ul
{
    margin:0px;
    padding: 0px;
    list-style:none;
}
   
nav ul li
{
    float: left;
    width:200px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    /* background-color: black;
    opacity: 0.8; */
}
nav ul li a
{
    text-decoration: none;
    color:#FFFFFF;
    display: block;

}
nav ul li a:hover
{
    background-color: grey;
}