
#categoriasNav
{
     background-color: rgba(253, 253, 252, 0.59); 
     color:rgb(0, 0, 0);
}
div h1
{
    width: 300px; 
    margin-left: 30px;
}
   
.row
{
 
    color:#FFFFFF; 
    padding: 13px 13px 13px 54px;
	margin-bottom:10px;
	width:100%;
	box-sizing: border-box;
}
h1
{
    color:#FFFFFF; 
}
div label
{
    color:#FFFFFF; 
}
body
{
    font-family:"ROCKWELL";
    font-size: 16pt;
    font-weight: 5PX;
    color:rgb(15, 12, 12);
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgba(215, 214, 228, 0.17); 
   
}
.table
{
    color:#FFFFFF; 
}
.table table-hover:hover{
    color:#FFFFFF; 
}
.navigation
{
     color:#FDFDFD; 
  
}
.pagination
{
     color:#FFFFFF; 
  
}
.navbar-default
{
    color:#FFFFFF; 
    color:#FAFAFA;
}
button
{
    color:#FAFAFA;
}
.table button
{
    color:#FAFAFA;
}
.nav.navbar.navbar-expand-md.bg-dark.navbar-dark
{
    color:#FFFFFF; 
}
.navbar-brand
{
    color:#FFFFFF; 
}

a button
{
    float: right ;
}



ul
{
    margin:0px;
    padding: 0px;
    list-style:none;
}
   
nav ul li
{
    float: left;
    width:200px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    /* background-color: black;
    opacity: 0.8; */
}
nav ul li a
{
    text-decoration: none;
    color:#FFFFFF;
    display: block;

}
nav ul li a:hover
{
    background-color: grey;
}

#BotonImprimir
{
	font-family: "ZOMBIEBITES";
	float:left;
	height:74px;
	width:100%;
	border: #fff solid 4px;
	cursor: pointer;
	background-color: #00a0f4;
	color:white;
	font-size: 28px;
	font-weight: 670;
	padding-top:16px;
	padding-bottom: 16px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background-image:  url(../imagenes/impresion.jpg);
	background-size: 40px 40px;
	background-position: 15px 15px;
	background-repeat: no-repeat;
}
#BotonImprimir:hover
{
	background-color: rgba(0,0,0,0);
	color:#000;
}
.transicion
{
	width:0px;
	height:74px;
	background-color:#33de80;
	-moz-transition:  0.7s ease;
	-o-transition:  0.7s ease;
	-ms-transition:  0.7s ease;
	-webkit-transition:  0.7s ease;
	
}
.BotonImprimir:hover .transicion
{
	width:100%;

	background-color:#33de80;
}

.contenedor-tabla
{
	width:750px;
	background-color: rgba(0, 0, 0, 0.51);/*negro con opacidad del 51%*/
	padding:35px 45px 35px 50px;
	margin:auto;
	margin-top:65px;
	border-radius: 9px;
}
.capa
{
    border-radius:30px;
	width:100%;
	height: 20%;
}